.hero-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
  color: #fff;
}

/* Background Image */
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  animation: zoomBg 20s ease-in-out infinite alternate;
}

@keyframes zoomBg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 3;
  max-width: 850px;
  width: 100%;
}

/* Typography */
.hero-title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  margin-bottom: 15px;
    animation: fadeUp 1s ease forwards;

}

.hero-title span {
  color: #f4a300;
}

.hero-tagline {
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin-bottom: 15px;
  color: #f4a300;
    animation: fadeUp 1.4s ease forwards;

}

.hero-description {
  font-size: clamp(0.95rem, 1.5vw, 1.1rem);
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
    animation: fadeUp 2.2s ease forwards;

}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  padding: 12px 26px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.primary-btn {
  background: #f4a300;
  color: #000;
}

.primary-btn:hover {
  transform: translateY(-3px);
    background: #fff;
  color: #000;
}


.arrow-icon {
  animation: moveArrow 1s infinite alternate ease-in-out;
}

@keyframes moveArrow {
  from { transform: translateX(0); }
  to { transform: translateX(6px); }
}

.call-icon {
  animation: shake 1.5s infinite ease-in-out;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}


